header {
    width: 100%;
}

header .container {
    height: 80px;
    background-color: rgba(229, 149, 20, 0.8);
    display: flex;
}

.header-left {
    margin-right: auto;
    margin-left: 20px;
}

.header-logo {
    font-size: 26px;
}

.header-right {
    text-decoration: none;
    display: flex;
}

.header-right p {
    margin: auto 10px;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    margin: auto 10px;
}

